<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">欢迎加入小圈子</h3>
    </div>
    <div class="panel-body">
        <div class="flex-container">
            <div style="cursor: pointer;" ng-click="talksayCtrl.setCurrentCircle(item.id)" ng-repeat="item in talksayCtrl.circleList" class="flex-item circle">
                <img class="circleImg" ng-class="{thumbnail:item.id==talksayCtrl.currentCircle}" ng-src="{{item.icon}}">
                <div class="circleIntro">
                    <h5 style="text-align: center;">
                       {{item.name}}圈
                    </h5>
                    <div>
                        简介: <span>{{item.remark}}</span>
                    </div>
                    <div>
                        创建者: <span>{{item.nickName}} </span>
                    </div>
                    <div>
                        热度: <span> {{item.yesterday}}</span>
                    </div>
                    <div>
                        说说: <span> {{item.weibocount}} 条</span>
                    </div>
                    <div>
                        成员: <span> {{item.membercount}} 人</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{active:talksayCtrl.allTalkSay}"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">全部说说</a></li>
        <li role="presentation" ng-class="{active: !talksayCtrl.allTalkSay}"><a href="#profile" ng-click="talksayCtrl.getUserAttWeiboList()" aria-controls="profile" role="tab" data-toggle="tab">关注的说说</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">发表说说</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <ul class="list-group">
                <li ng-repeat="item in talksayCtrl.talksayListData" class="list-group-item">
                    <div ng-if="item.Repost">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"> <a href="#">{{item.Repost.Weibo.Subject}}</a></h4>
                                <div ng-bind-html="item.Repost.Weibo.Remark" style="text-indent: 34px;">
                                    
                                </div>
                                <table class="table">
                                    <tr>
                                        <td>作者：{{item.Repost.User.NickName}}</td>
                                        <td>日期：{{item.Repost.Weibo.DateAndTime}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="media-right">
                                <a href="#">
                                    <img style="width:123px;" class="media-object" ng-src="//192.9.168.248/static/images/rec_icon.gif" alt="...">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!item.Repost">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" ng-src="{{item.User.FacePath?item.User.FacePath + '_1.jpg':'http://192.9.168.248/static/uploads/5.gif'}}" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{item.User.NickName}}</h4>
                                <div ng-bind-html="talksayCtrl.trustDangerousSni9ppet(item.Weibo.Remark)">
                                    
                                </div>
                                <table class="table">
                                    <tr>
                                        <td>{{item.Weibo.DateAndTime}}</td>
                                        <td>{{item.Weibo.AppType=='web'?'来自期货圈网页版':item.Weibo.AppType=='ios'?'来自苹果随身行'+item.Weibo.Version:'来自安卓随身行'+item.Weibo.Version}}</td>
                                        <td></td>
                                        <td></td>
                                        <td>点赞{{item.Weibo.GoodCount}}</td>
                                        <td>讨论</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <button type="button" class="btn btn-primary btn-lg btn-block">点击加载更多</button>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <ul class="list-group">
                <li ng-repeat="item in talksayCtrl.talksayListAttData" class="list-group-item">
                    <div ng-if="item.Repost">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading"> <a href="#">{{item.Repost.Weibo.Subject}}</a></h4>
                                <div style="text-indent: 34px;">
                                    {{item.Repost.Weibo.Remark}}
                                </div>
                                <table class="table">
                                    <tr>
                                        <td>作者：{{item.Repost.User.NickName}}</td>
                                        <td>日期：{{item.Repost.Weibo.DateAndTime}}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="media-right">
                                <a href="#">
                                    <img style="width:123px;" class="media-object" ng-src="//192.9.168.248/static/images/rec_icon.gif" alt="...">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!item.Repost">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" ng-src="item.User.FacePath + '_1.jpg'" alt="...">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">{{item.User.NickName}}</h4>
                                <div>
                                    {{item.Weibo.Remark}}
                                </div>
                                <table class="table">
                                    <tr>
                                        <td>{{item.Weibo.DateAndTime}}</td>
                                        <td>{{item.Weibo.AppType=='web'?'来自期货圈网页版':item.Weibo.AppType=='ios'}?'来自苹果随身行'+item.Weibo.Version:'来自安卓随身行'+item.Weibo.Version}</td>
                                        <td></td>
                                        <td></td>
                                        <td>点赞{{item.Weibo.GoodCount}}</td>
                                        <td>讨论</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <button type="button" class="btn btn-primary btn-lg btn-block"> 点击加载更多</button>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
            <div>
                <editor></editor>
                <p><a class="btn btn-primary btn-lg pull-right" href="#" role="button">发表说说</a></p>
            </div>
        </div>
    </div>
</div>
